// Place all the styles related to the FlickrPhoto controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-box {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	background-color: white;
	border: 1px solid #dddddd;
	border-radius: 4px;
	.img-responsive {
		margin-left: 54px;
    object-fit: contain;
	}
}

.paginate-box {
	padding-left: 25%;
}
